body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    color: #444;
}

h1,
h2 {
    margin: 1.5em 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #9c715a;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: #8e8e8e;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: #7c7c7c;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    margin: 1em 0;
    padding-left: 3em;
}

li {
    margin-bottom: 1em;
}

img {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 90%;
}

table {
    margin: 2em auto;
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    padding: 0.8em;
    border: 1px solid #999;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #f2f2f2;
    color: #333;
}

.definicion {
    background-color: #fafafa;
    padding: 1.5em;
    text-indent: 1.5em;
    border-left: 4px solid #999;
}

table,
th,
td {
    border: 1px solid #666;
    border-collapse: collapse;
}

tr {
    background-color: #f7f7f7;
}

th {
    background-color: #444;
    color: #f7f7f7;
}

#lateral {
    float: left;
    margin-left: 2em;
    width: 20%;
    text-align: left;
    background-color: #f0e5d7;
    color: #9c715a;
    border: 2px solid #9c715a;
    padding-left: 3em;
    padding-right: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#principal {
    float: right;
    width: 75%;
}

.pie {
    text-align: center;
    color: #8e8e8e;
    margin-top: 3em;
}

#procesador {
    text-transform: lowercase;
    color: #9c715a;
}

#inicio {
    text-decoration: none;
    color: #9c715a;
    font-weight: bold;
}

#memoria {
    text-decoration: line-through;
}

a[href*="formulario"] {
    color: #e06666;
}


/* Formulario */

form {
    margin: 2em auto;
    width: 70%;
    border: 2px solid #999;
    padding: 2em;
    background-color: #f2f2f2;
    border-radius: 8px;
}

fieldset {
    border: none;
    margin-bottom: 2em;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #9c715a;
}